*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #1d2440;
}

header{
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 1.5vh;
    margin: 1vh;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

ul{
    display: flex;
    flex-direction: row;
    padding: 1px;
    gap: 2vh;
}

li{
    list-style: none;
}

a{
    text-decoration:none;
    color: white;
}